<html>

<head>
  <title>pixel-hunter</title>
</head>

<body>
  {% if error %}
    <h3>{{ error }}</h3>
  {% endif %}

  {% if is_submited %}
    <p>Image submited and processed sucessfully!</p>
  {% endif %}

  {% if blacks_or_whites %}
    <p>Black or white pixels more: {{ blacks_or_whites }}</p>
  {% endif %}

  {% if color_amount %}
    <p>Pixels amount of #{{ color_amount.color }}: {{ color_amount.amount }}</p>
  {% endif %}

  <form action="/" method="post" accept-charset="utf-8" enctype="multipart/form-data">

    <label for="image">Image</label>
    <input id="image" name="image" type="file" value=""/>

    <input type="checkbox" id="bw" name="bw" value="bw">
    <label for="bw">Check black or white pixels more </label><br>

    <label for="color">Count pixels of color(hex):</label><br>
    <input type="text" id="color" name="color"><br>

    <input type="submit" value="submit" />
  </form>
</body>

</html>
